[submodule "reference/ghostty"]
	path = reference/ghostty
	url = https://github.com/Tonksthebear/ghostty.git
	branch = binary-terminal-snapshot
[submodule "reference/text-shaper"]
	path = reference/text-shaper
	url = https://github.com/wiedymi/text-shaper.git
